<header >
    <!-- <img src="../img/bg-hero.png" alt="first BGI"> -->
    <nav class="container-md my-3 py-1 px-0">
        <menu class="row list-inline">
            <li class="col-sm list-inline-item ">
                <!-- <a href="#" class="h2 py-2 px-3 text-upper-case text-white text-decoration-none m0 p0 text-aling-center align-middle"></a> -->
            </li>
            <li class="col-sm list-inline-item ">
                <a href="#" class=" text-uppercase h4 py-2 px-3 text-upper-case text-white text-decoration-none m0 p0 text-aling-center align-middle">home</a>
            </li>
            <li class="col-sm list-inline-item ">
                <!-- <a href="#" class=" text-uppercase h4 py-2 px-3 text-upper-case text-white text-decoration-none m0 p0 text-aling-center align-middle"></a> -->
            </li>
            <li class="col-sm list-inline-item ">
                <a href="#" class=" text-uppercase h4 py-2 px-3 text-upper-case text-white text-decoration-none m0 p0 text-aling-center align-middle">about</a>
            </li>
            <li class="col-sm list-inline-item ">
                <a href="#" class=" text-uppercase h4 py-2 px-3 text-upper-case text-white text-decoration-none m0 p0 text-aling-center align-middle">shop</a>
            </li>
            <li class="col-sm list-inline-item ">
                <a href="#" class=" text-uppercase h4 py-2 px-3 text-upper-case text-white text-decoration-none m0 p0 text-aling-center align-middle">contact</a>
            </li>
            <li class="col-sm list-inline-item text-center">
                <img src="../img/burger.svg" alt="Burger-men-U" class="h4 text-decoration-none m-0 p-0 text-aling-center text-white w-25 align-middle mx-auto">
            </li>
        </menu>
    </nav>
</header>